beautifulsoup4==4.11.1
certifi==2022.12.7
charset-normalizer==3.0.1
contourpy==1.3.0
cycler==0.12.1
fake-useragent==1.1.3
filelock==3.16.1
fonttools==4.54.1
idna==3.4
ImageHash==4.3.1
kiwisolver==1.4.7
matplotlib==3.9.2
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pillow==10.3.0
psutil==5.9.8
pyparsing==3.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.7.0
PyYAML==6.0.1
requests==2.28.2
scipy==1.14.1
six==1.16.0
soupsieve==2.3.2.post1
stem==1.8.1
tqdm==4.66.5
tzdata==2024.2
urllib3==1.26.14
waiting==1.4.1
